{% extends '/base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        <body class="text-center">
        <main class="form-signin w-100 m-auto">
            <form>
                <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class=" h3 mb-3 fw-normal">Please sign in or sign up</h1>
                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com"><br>
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password"><br>
                    <label for="password">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <input type="submit" class="btn btn-success" value="Sign in">
                <a class="btn btn-warning" href="/registration">Sign up</a>
            </form>
        </body>
    </form>
</div>
{% endblock %}